@import '../../styles/';

.movie-search {
    background: linear-gradient(to right, $color-primary, $color-secondary);
    display: flex;
    align-content: center;
    height: get-rem(100);
    padding: get-rem(20) get-rem(30) get-rem(10);
    position: relative;
    width: 100%;

    &__input {
        flex: 1 1 auto;
        margin-right: get-rem(5);
        height: get-rem(60);
        width: 100%;
    }

    &__search-button {
        border: none;
        border-radius: get-rem(2);
        height: get-rem(60);
        margin-left: auto;
        width: get-rem(60);
    }

    &__search-button-icon {
        fill: $color-primary;
        height: get-rem(40);

        svg {
            fill: $color-primary;
        }
    }

    &__results {
        background-color: $color-white;
        border-radius: get-rem(3);
        box-shadow: 0 get-rem(2) get-rem(6) rgba(0, 0, 0, 0.25);
        margin-right: get-rem(60);
        padding:  get-rem(20) get-rem(50);
        position: absolute;
        top: get-rem(100);
        width: 100%;
    }

    &__item {
        cursor: pointer;
        list-style-type: none;
        margin-bottom: get-rem(30);
        transition: all 0.1s;

        &:hover {
            background-color: rgba($color-grey-light-2, 0.1);
            transform: translateY(-1px);
        }
    }

    &__item-button {
        background: transparent;
        border: none;
        text-align: start;
    }

    &__movie-title {
        font-weight: 700;
    }

    &__movie-info {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
}