@import '../../styles/';

.main-search {
    align-items: center;
    display: flex;
    height: get-rem(40);
    overflow: hidden;
    width: 100%;

    &__input {
        background: transparent;
        border: none;
        font-size: get-rem(16);
        font-weight: 600;
        margin-top: get-rem(5);
        width: 100%;

        &:focus {
          background: $color-white;
          border: transparent;
          box-shadow: none;
          color: $color-grey-dark-1;
          font-weight: 600;
          outline-color: transparent;
        }
    }
}