$color-white: #fff;
$color-black: #000;

$color-grey-dark-1: #28323b;
$color-grey-dark-2: #3a4d5b;

$color-grey-light-1: #778c9b;
$color-grey-light-2: #dfe7ed;

$color-orange: #ff690f;
$color-red: #e8381b;

$color-primary: $color-orange;
$color-secondary: $color-red;